<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{navigation :: head}"></head>
<body>
<nav th:replace="~{navigation :: nav('login')}"></nav>

<div class="form-style-2">
<div class="form-style-2-heading">Login</div>
<form th:action="@{/users/performlogin}" method="post">

	<div class="form-style-2-heading">
		<label for="username">Username</label>
		<input type="text" 
			id="username" 
			name="username" 
			placeholder="Username" 
			autocomplete="username" required autofocus>
	</div>
	<div class="form-style-2-heading">
		<label for="password">Password</label>
		<input type="password" 
			id="password" 
			name="password" 
			placeholder="Password" 
			autocomplete="current-password" required>
	</div>
	<input type="submit" value="Login" />
	<a href="/users/register">Register</a>
</form>
</div>
</body>
</html>
